@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Upload Certificate</h2> 
<form asp-action="UploadFile" asp-controller="VerifyCertificate" enctype="multipart/form-data" method="POST">

    <div class="form-group">

        @Html.TextBox("file", "file", new { type = "file" }) <br />
        <label class="control-label">Campaign</label>
        <span class="text-danger"></span>
        <input type="text" name="campname" id="campname" />

        <label class="control-label">Email</label>
        <span class="text-danger"></span>
        <input type="text" name="email" id="email" />
    </div>

    <input type="submit" value="Upload" />

</form>


<div>
    @ViewBag.Message
</div>


@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
