@model VMS.Models.Center

<h4>Center</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCenter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vname" class="control-label"></label>
                <input asp-for="vname" class="form-control" />
                <span asp-validation-for="vname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zip" class="control-label"></label>
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="campaign" class="control-label"></label>
                <select asp-for="campaign" asp-items="@(new SelectList(ViewBag.message,"name"))" class="form-control"></select>
                <span asp-validation-for="campaign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Show all centers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
