@model IEnumerable<VMS.Models.Center>

<div class="row">
    <div class="col-md-4">
        
            <form asp-action="LookUp" asp-controller="BookAppointment">


                <div class="form-group">
                    <label class="control-label name">Zip</label>
                    <input type="number" class="form-control" id="zip" name="zip" />
                </div>

                <div class="form-group">
                    <label class="control-label">Campaign</label>
                    <select id="camName" name="camName" asp-items="@(new SelectList(ViewBag.message,"name"))" class="form-control"></select>
                </div>
                <input type="submit" value="Search">
        
            </form>
        
    </div>
</div>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
